

<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <header>
    <% include ../partials/navbar %>
  </header>

<p>This is the about page</p>
</body>
</html>